BlackLotusPresentationTier/src/conf/xml-resources/web-service-references/BusinessTier/wsdl/localhost_8082/BlackLotusBusinessTier/BusinessTier.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://business/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://business/" name="BusinessTier">
<types>
<xsd:schema>
<xsd:import namespace="http://data/" schemaLocation="http://localhost:8082/BlackLotusBusinessTier/BusinessTier?xsd=2" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://business/" schemaLocation="http://localhost:8082/BlackLotusBusinessTier/BusinessTier?xsd=1" />
</xsd:schema>
</types>
<message name="getCategoryById">
<part name="parameters" element="tns:getCategoryById" />
</message>
<message name="getCategoryByIdResponse">
<part name="parameters" element="tns:getCategoryByIdResponse" />
</message>
<message name="getItemById">
<part name="parameters" element="tns:getItemById" />
</message>
<message name="getItemByIdResponse">
<part name="parameters" element="tns:getItemByIdResponse" />
</message>
<message name="createItem">
<part name="parameters" element="tns:createItem" />
</message>
<message name="createItemResponse">
<part name="parameters" element="tns:createItemResponse" />
</message>
<message name="editItem">
<part name="parameters" element="tns:editItem" />
</message>
<message name="editItemResponse">
<part name="parameters" element="tns:editItemResponse" />
</message>
<message name="insertOrder">
<part name="parameters" element="tns:insertOrder" />
</message>
<message name="insertOrderResponse">
<part name="parameters" element="tns:insertOrderResponse" />
</message>
<message name="updateStock">
<part name="parameters" element="tns:updateStock" />
</message>
<message name="updateStockResponse">
<part name="parameters" element="tns:updateStockResponse" />
</message>
<message name="getOrderById">
<part name="parameters" element="tns:getOrderById" />
</message>
<message name="getOrderByIdResponse">
<part name="parameters" element="tns:getOrderByIdResponse" />
</message>
<message name="getVendorById">
<part name="parameters" element="tns:getVendorById" />
</message>
<message name="getVendorByIdResponse">
<part name="parameters" element="tns:getVendorByIdResponse" />
</message>
<message name="getOrdersByVendor">
<part name="parameters" element="tns:getOrdersByVendor" />
</message>
<message name="getOrdersByVendorResponse">
<part name="parameters" element="tns:getOrdersByVendorResponse" />
</message>
<message name="getOrders">
<part name="parameters" element="tns:getOrders" />
</message>
<message name="getOrdersResponse">
<part name="parameters" element="tns:getOrdersResponse" />
</message>
<message name="searchOrCheckStockCakeByItemNameOrCode">
<part name="parameters" element="tns:searchOrCheckStockCakeByItemNameOrCode" />
</message>
<message name="searchOrCheckStockCakeByItemNameOrCodeResponse">
<part name="parameters" element="tns:searchOrCheckStockCakeByItemNameOrCodeResponse" />
</message>
<message name="getVendors">
<part name="parameters" element="tns:getVendors" />
</message>
<message name="getVendorsResponse">
<part name="parameters" element="tns:getVendorsResponse" />
</message>
<message name="getVendorTypeById">
<part name="parameters" element="tns:getVendorTypeById" />
</message>
<message name="getVendorTypeByIdResponse">
<part name="parameters" element="tns:getVendorTypeByIdResponse" />
</message>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin" />
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse" />
</message>
<message name="userRegister">
<part name="parameters" element="tns:userRegister" />
</message>
<message name="userRegisterResponse">
<part name="parameters" element="tns:userRegisterResponse" />
</message>
<message name="vendorLogin">
<part name="parameters" element="tns:vendorLogin" />
</message>
<message name="vendorLoginResponse">
<part name="parameters" element="tns:vendorLoginResponse" />
</message>
<message name="vendorRegister">
<part name="parameters" element="tns:vendorRegister" />
</message>
<message name="vendorRegisterResponse">
<part name="parameters" element="tns:vendorRegisterResponse" />
</message>
<message name="createCategory">
<part name="parameters" element="tns:createCategory" />
</message>
<message name="createCategoryResponse">
<part name="parameters" element="tns:createCategoryResponse" />
</message>
<message name="editCategory">
<part name="parameters" element="tns:editCategory" />
</message>
<message name="editCategoryResponse">
<part name="parameters" element="tns:editCategoryResponse" />
</message>
<message name="getCategories">
<part name="parameters" element="tns:getCategories" />
</message>
<message name="getCategoriesResponse">
<part name="parameters" element="tns:getCategoriesResponse" />
</message>
<message name="getItems">
<part name="parameters" element="tns:getItems" />
</message>
<message name="getItemsResponse">
<part name="parameters" element="tns:getItemsResponse" />
</message>
<message name="forgotPasswordVendor">
<part name="parameters" element="tns:forgotPasswordVendor" />
</message>
<message name="forgotPasswordVendorResponse">
<part name="parameters" element="tns:forgotPasswordVendorResponse" />
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers" />
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse" />
</message>
<portType name="BusinessTier">
<operation name="getCategoryById">
<input wsam:Action="http://business/BusinessTier/getCategoryByIdRequest" message="tns:getCategoryById" />
<output wsam:Action="http://business/BusinessTier/getCategoryByIdResponse" message="tns:getCategoryByIdResponse" />
</operation>
<operation name="getItemById">
<input wsam:Action="http://business/BusinessTier/getItemByIdRequest" message="tns:getItemById" />
<output wsam:Action="http://business/BusinessTier/getItemByIdResponse" message="tns:getItemByIdResponse" />
</operation>
<operation name="createItem">
<input wsam:Action="http://business/BusinessTier/createItemRequest" message="tns:createItem" />
<output wsam:Action="http://business/BusinessTier/createItemResponse" message="tns:createItemResponse" />
</operation>
<operation name="editItem">
<input wsam:Action="http://business/BusinessTier/editItemRequest" message="tns:editItem" />
<output wsam:Action="http://business/BusinessTier/editItemResponse" message="tns:editItemResponse" />
</operation>
<operation name="insertOrder">
<input wsam:Action="http://business/BusinessTier/insertOrderRequest" message="tns:insertOrder" />
<output wsam:Action="http://business/BusinessTier/insertOrderResponse" message="tns:insertOrderResponse" />
</operation>
<operation name="updateStock">
<input wsam:Action="http://business/BusinessTier/updateStockRequest" message="tns:updateStock" />
<output wsam:Action="http://business/BusinessTier/updateStockResponse" message="tns:updateStockResponse" />
</operation>
<operation name="getOrderById">
<input wsam:Action="http://business/BusinessTier/getOrderByIdRequest" message="tns:getOrderById" />
<output wsam:Action="http://business/BusinessTier/getOrderByIdResponse" message="tns:getOrderByIdResponse" />
</operation>
<operation name="getVendorById">
<input wsam:Action="http://business/BusinessTier/getVendorByIdRequest" message="tns:getVendorById" />
<output wsam:Action="http://business/BusinessTier/getVendorByIdResponse" message="tns:getVendorByIdResponse" />
</operation>
<operation name="getOrdersByVendor">
<input wsam:Action="http://business/BusinessTier/getOrdersByVendorRequest" message="tns:getOrdersByVendor" />
<output wsam:Action="http://business/BusinessTier/getOrdersByVendorResponse" message="tns:getOrdersByVendorResponse" />
</operation>
<operation name="getOrders">
<input wsam:Action="http://business/BusinessTier/getOrdersRequest" message="tns:getOrders" />
<output wsam:Action="http://business/BusinessTier/getOrdersResponse" message="tns:getOrdersResponse" />
</operation>
<operation name="searchOrCheckStockCakeByItemNameOrCode">
<input wsam:Action="http://business/BusinessTier/searchOrCheckStockCakeByItemNameOrCodeRequest" message="tns:searchOrCheckStockCakeByItemNameOrCode" />
<output wsam:Action="http://business/BusinessTier/searchOrCheckStockCakeByItemNameOrCodeResponse" message="tns:searchOrCheckStockCakeByItemNameOrCodeResponse" />
</operation>
<operation name="getVendors">
<input wsam:Action="http://business/BusinessTier/getVendorsRequest" message="tns:getVendors" />
<output wsam:Action="http://business/BusinessTier/getVendorsResponse" message="tns:getVendorsResponse" />
</operation>
<operation name="getVendorTypeById">
<input wsam:Action="http://business/BusinessTier/getVendorTypeByIdRequest" message="tns:getVendorTypeById" />
<output wsam:Action="http://business/BusinessTier/getVendorTypeByIdResponse" message="tns:getVendorTypeByIdResponse" />
</operation>
<operation name="checkLogin">
<input wsam:Action="http://business/BusinessTier/checkLoginRequest" message="tns:checkLogin" />
<output wsam:Action="http://business/BusinessTier/checkLoginResponse" message="tns:checkLoginResponse" />
</operation>
<operation name="userRegister">
<input wsam:Action="http://business/BusinessTier/userRegisterRequest" message="tns:userRegister" />
<output wsam:Action="http://business/BusinessTier/userRegisterResponse" message="tns:userRegisterResponse" />
</operation>
<operation name="vendorLogin">
<input wsam:Action="http://business/BusinessTier/vendorLoginRequest" message="tns:vendorLogin" />
<output wsam:Action="http://business/BusinessTier/vendorLoginResponse" message="tns:vendorLoginResponse" />
</operation>
<operation name="vendorRegister">
<input wsam:Action="http://business/BusinessTier/vendorRegisterRequest" message="tns:vendorRegister" />
<output wsam:Action="http://business/BusinessTier/vendorRegisterResponse" message="tns:vendorRegisterResponse" />
</operation>
<operation name="createCategory">
<input wsam:Action="http://business/BusinessTier/createCategoryRequest" message="tns:createCategory" />
<output wsam:Action="http://business/BusinessTier/createCategoryResponse" message="tns:createCategoryResponse" />
</operation>
<operation name="editCategory">
<input wsam:Action="http://business/BusinessTier/editCategoryRequest" message="tns:editCategory" />
<output wsam:Action="http://business/BusinessTier/editCategoryResponse" message="tns:editCategoryResponse" />
</operation>
<operation name="getCategories">
<input wsam:Action="http://business/BusinessTier/getCategoriesRequest" message="tns:getCategories" />
<output wsam:Action="http://business/BusinessTier/getCategoriesResponse" message="tns:getCategoriesResponse" />
</operation>
<operation name="getItems">
<input wsam:Action="http://business/BusinessTier/getItemsRequest" message="tns:getItems" />
<output wsam:Action="http://business/BusinessTier/getItemsResponse" message="tns:getItemsResponse" />
</operation>
<operation name="forgotPasswordVendor">
<input wsam:Action="http://business/BusinessTier/forgotPasswordVendorRequest" message="tns:forgotPasswordVendor" />
<output wsam:Action="http://business/BusinessTier/forgotPasswordVendorResponse" message="tns:forgotPasswordVendorResponse" />
</operation>
<operation name="getUsers">
<input wsam:Action="http://business/BusinessTier/getUsersRequest" message="tns:getUsers" />
<output wsam:Action="http://business/BusinessTier/getUsersResponse" message="tns:getUsersResponse" />
</operation>
</portType>
<binding name="BusinessTierPortBinding" type="tns:BusinessTier">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getCategoryById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getItemById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createItem">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="editItem">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertOrder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateStock">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getOrderById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVendorById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getOrdersByVendor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getOrders">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchOrCheckStockCakeByItemNameOrCode">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVendors">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVendorTypeById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="userRegister">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="vendorLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="vendorRegister">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createCategory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="editCategory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCategories">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getItems">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="forgotPasswordVendor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="BusinessTier">
<port name="BusinessTierPort" binding="tns:BusinessTierPortBinding">
<soap:address location="http://localhost:8082/BlackLotusBusinessTier/BusinessTier" />
</port>
</service>
</definitions>