BlackLotusBusinessTier/src/conf/xml-resources/web-service-references/DataTier/wsdl/localhost_8082/BlackLotusDataTier/DataTier.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://data/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://data/" name="DataTier">
<types>
<xsd:schema>
<xsd:import namespace="http://data/" schemaLocation="http://localhost:8082/BlackLotusDataTier/DataTier?xsd=1" />
</xsd:schema>
</types>
<message name="getCategoryById">
<part name="parameters" element="tns:getCategoryById" />
</message>
<message name="getCategoryByIdResponse">
<part name="parameters" element="tns:getCategoryByIdResponse" />
</message>
<message name="getItemById">
<part name="parameters" element="tns:getItemById" />
</message>
<message name="getItemByIdResponse">
<part name="parameters" element="tns:getItemByIdResponse" />
</message>
<message name="createItem">
<part name="parameters" element="tns:createItem" />
</message>
<message name="createItemResponse">
<part name="parameters" element="tns:createItemResponse" />
</message>
<message name="insertOrder">
<part name="parameters" element="tns:insertOrder" />
</message>
<message name="insertOrderResponse">
<part name="parameters" element="tns:insertOrderResponse" />
</message>
<message name="getVendorById">
<part name="parameters" element="tns:getVendorById" />
</message>
<message name="getVendorByIdResponse">
<part name="parameters" element="tns:getVendorByIdResponse" />
</message>
<message name="getOrders">
<part name="parameters" element="tns:getOrders" />
</message>
<message name="getOrdersResponse">
<part name="parameters" element="tns:getOrdersResponse" />
</message>
<message name="searchOrCheckStockCakeByItemNameOrCode">
<part name="parameters" element="tns:searchOrCheckStockCakeByItemNameOrCode" />
</message>
<message name="searchOrCheckStockCakeByItemNameOrCodeResponse">
<part name="parameters" element="tns:searchOrCheckStockCakeByItemNameOrCodeResponse" />
</message>
<message name="getVendors">
<part name="parameters" element="tns:getVendors" />
</message>
<message name="getVendorsResponse">
<part name="parameters" element="tns:getVendorsResponse" />
</message>
<message name="getVendorTypeById">
<part name="parameters" element="tns:getVendorTypeById" />
</message>
<message name="getVendorTypeByIdResponse">
<part name="parameters" element="tns:getVendorTypeByIdResponse" />
</message>
<message name="getOrderByVendorId">
<part name="parameters" element="tns:getOrderByVendorId" />
</message>
<message name="getOrderByVendorIdResponse">
<part name="parameters" element="tns:getOrderByVendorIdResponse" />
</message>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin" />
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse" />
</message>
<message name="userRegister">
<part name="parameters" element="tns:userRegister" />
</message>
<message name="userRegisterResponse">
<part name="parameters" element="tns:userRegisterResponse" />
</message>
<message name="vendorLogin">
<part name="parameters" element="tns:vendorLogin" />
</message>
<message name="vendorLoginResponse">
<part name="parameters" element="tns:vendorLoginResponse" />
</message>
<message name="vendorRegister">
<part name="parameters" element="tns:vendorRegister" />
</message>
<message name="vendorRegisterResponse">
<part name="parameters" element="tns:vendorRegisterResponse" />
</message>
<message name="createCategory">
<part name="parameters" element="tns:createCategory" />
</message>
<message name="createCategoryResponse">
<part name="parameters" element="tns:createCategoryResponse" />
</message>
<message name="getCategories">
<part name="parameters" element="tns:getCategories" />
</message>
<message name="getCategoriesResponse">
<part name="parameters" element="tns:getCategoriesResponse" />
</message>
<message name="getItems">
<part name="parameters" element="tns:getItems" />
</message>
<message name="getItemsResponse">
<part name="parameters" element="tns:getItemsResponse" />
</message>
<message name="checkVendorExistByEmail">
<part name="parameters" element="tns:checkVendorExistByEmail" />
</message>
<message name="checkVendorExistByEmailResponse">
<part name="parameters" element="tns:checkVendorExistByEmailResponse" />
</message>
<message name="checkUserExistByEmail">
<part name="parameters" element="tns:checkUserExistByEmail" />
</message>
<message name="checkUserExistByEmailResponse">
<part name="parameters" element="tns:checkUserExistByEmailResponse" />
</message>
<message name="editCategoryById">
<part name="parameters" element="tns:editCategoryById" />
</message>
<message name="editCategoryByIdResponse">
<part name="parameters" element="tns:editCategoryByIdResponse" />
</message>
<message name="getVendorTypeByEmail">
<part name="parameters" element="tns:getVendorTypeByEmail" />
</message>
<message name="getVendorTypeByEmailResponse">
<part name="parameters" element="tns:getVendorTypeByEmailResponse" />
</message>
<message name="getItemsByCategory">
<part name="parameters" element="tns:getItemsByCategory" />
</message>
<message name="getItemsByCategoryResponse">
<part name="parameters" element="tns:getItemsByCategoryResponse" />
</message>
<message name="checkCategoryExistByName">
<part name="parameters" element="tns:checkCategoryExistByName" />
</message>
<message name="checkCategoryExistByNameResponse">
<part name="parameters" element="tns:checkCategoryExistByNameResponse" />
</message>
<message name="getCurrentStockByItemId">
<part name="parameters" element="tns:getCurrentStockByItemId" />
</message>
<message name="getCurrentStockByItemIdResponse">
<part name="parameters" element="tns:getCurrentStockByItemIdResponse" />
</message>
<message name="updateStockByItemId">
<part name="parameters" element="tns:updateStockByItemId" />
</message>
<message name="updateStockByItemIdResponse">
<part name="parameters" element="tns:updateStockByItemIdResponse" />
</message>
<message name="insertOrderItem">
<part name="parameters" element="tns:insertOrderItem" />
</message>
<message name="insertOrderItemResponse">
<part name="parameters" element="tns:insertOrderItemResponse" />
</message>
<message name="editItemById">
<part name="parameters" element="tns:editItemById" />
</message>
<message name="editItemByIdResponse">
<part name="parameters" element="tns:editItemByIdResponse" />
</message>
<message name="getOrdersByInvoiceId">
<part name="parameters" element="tns:getOrdersByInvoiceId" />
</message>
<message name="getOrdersByInvoiceIdResponse">
<part name="parameters" element="tns:getOrdersByInvoiceIdResponse" />
</message>
<message name="updatePasswordByEmail">
<part name="parameters" element="tns:updatePasswordByEmail" />
</message>
<message name="updatePasswordByEmailResponse">
<part name="parameters" element="tns:updatePasswordByEmailResponse" />
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers" />
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse" />
</message>
<message name="getUserRole">
<part name="parameters" element="tns:getUserRole" />
</message>
<message name="getUserRoleResponse">
<part name="parameters" element="tns:getUserRoleResponse" />
</message>
<portType name="DataTier">
<operation name="getCategoryById">
<input wsam:Action="http://data/DataTier/getCategoryByIdRequest" message="tns:getCategoryById" />
<output wsam:Action="http://data/DataTier/getCategoryByIdResponse" message="tns:getCategoryByIdResponse" />
</operation>
<operation name="getItemById">
<input wsam:Action="http://data/DataTier/getItemByIdRequest" message="tns:getItemById" />
<output wsam:Action="http://data/DataTier/getItemByIdResponse" message="tns:getItemByIdResponse" />
</operation>
<operation name="createItem">
<input wsam:Action="http://data/DataTier/createItemRequest" message="tns:createItem" />
<output wsam:Action="http://data/DataTier/createItemResponse" message="tns:createItemResponse" />
</operation>
<operation name="insertOrder">
<input wsam:Action="http://data/DataTier/insertOrderRequest" message="tns:insertOrder" />
<output wsam:Action="http://data/DataTier/insertOrderResponse" message="tns:insertOrderResponse" />
</operation>
<operation name="getVendorById">
<input wsam:Action="http://data/DataTier/getVendorByIdRequest" message="tns:getVendorById" />
<output wsam:Action="http://data/DataTier/getVendorByIdResponse" message="tns:getVendorByIdResponse" />
</operation>
<operation name="getOrders">
<input wsam:Action="http://data/DataTier/getOrdersRequest" message="tns:getOrders" />
<output wsam:Action="http://data/DataTier/getOrdersResponse" message="tns:getOrdersResponse" />
</operation>
<operation name="searchOrCheckStockCakeByItemNameOrCode">
<input wsam:Action="http://data/DataTier/searchOrCheckStockCakeByItemNameOrCodeRequest" message="tns:searchOrCheckStockCakeByItemNameOrCode" />
<output wsam:Action="http://data/DataTier/searchOrCheckStockCakeByItemNameOrCodeResponse" message="tns:searchOrCheckStockCakeByItemNameOrCodeResponse" />
</operation>
<operation name="getVendors">
<input wsam:Action="http://data/DataTier/getVendorsRequest" message="tns:getVendors" />
<output wsam:Action="http://data/DataTier/getVendorsResponse" message="tns:getVendorsResponse" />
</operation>
<operation name="getVendorTypeById">
<input wsam:Action="http://data/DataTier/getVendorTypeByIdRequest" message="tns:getVendorTypeById" />
<output wsam:Action="http://data/DataTier/getVendorTypeByIdResponse" message="tns:getVendorTypeByIdResponse" />
</operation>
<operation name="getOrderByVendorId">
<input wsam:Action="http://data/DataTier/getOrderByVendorIdRequest" message="tns:getOrderByVendorId" />
<output wsam:Action="http://data/DataTier/getOrderByVendorIdResponse" message="tns:getOrderByVendorIdResponse" />
</operation>
<operation name="checkLogin">
<input wsam:Action="http://data/DataTier/checkLoginRequest" message="tns:checkLogin" />
<output wsam:Action="http://data/DataTier/checkLoginResponse" message="tns:checkLoginResponse" />
</operation>
<operation name="userRegister">
<input wsam:Action="http://data/DataTier/userRegisterRequest" message="tns:userRegister" />
<output wsam:Action="http://data/DataTier/userRegisterResponse" message="tns:userRegisterResponse" />
</operation>
<operation name="vendorLogin">
<input wsam:Action="http://data/DataTier/vendorLoginRequest" message="tns:vendorLogin" />
<output wsam:Action="http://data/DataTier/vendorLoginResponse" message="tns:vendorLoginResponse" />
</operation>
<operation name="vendorRegister">
<input wsam:Action="http://data/DataTier/vendorRegisterRequest" message="tns:vendorRegister" />
<output wsam:Action="http://data/DataTier/vendorRegisterResponse" message="tns:vendorRegisterResponse" />
</operation>
<operation name="createCategory">
<input wsam:Action="http://data/DataTier/createCategoryRequest" message="tns:createCategory" />
<output wsam:Action="http://data/DataTier/createCategoryResponse" message="tns:createCategoryResponse" />
</operation>
<operation name="getCategories">
<input wsam:Action="http://data/DataTier/getCategoriesRequest" message="tns:getCategories" />
<output wsam:Action="http://data/DataTier/getCategoriesResponse" message="tns:getCategoriesResponse" />
</operation>
<operation name="getItems">
<input wsam:Action="http://data/DataTier/getItemsRequest" message="tns:getItems" />
<output wsam:Action="http://data/DataTier/getItemsResponse" message="tns:getItemsResponse" />
</operation>
<operation name="checkVendorExistByEmail">
<input wsam:Action="http://data/DataTier/checkVendorExistByEmailRequest" message="tns:checkVendorExistByEmail" />
<output wsam:Action="http://data/DataTier/checkVendorExistByEmailResponse" message="tns:checkVendorExistByEmailResponse" />
</operation>
<operation name="checkUserExistByEmail">
<input wsam:Action="http://data/DataTier/checkUserExistByEmailRequest" message="tns:checkUserExistByEmail" />
<output wsam:Action="http://data/DataTier/checkUserExistByEmailResponse" message="tns:checkUserExistByEmailResponse" />
</operation>
<operation name="editCategoryById">
<input wsam:Action="http://data/DataTier/editCategoryByIdRequest" message="tns:editCategoryById" />
<output wsam:Action="http://data/DataTier/editCategoryByIdResponse" message="tns:editCategoryByIdResponse" />
</operation>
<operation name="getVendorTypeByEmail">
<input wsam:Action="http://data/DataTier/getVendorTypeByEmailRequest" message="tns:getVendorTypeByEmail" />
<output wsam:Action="http://data/DataTier/getVendorTypeByEmailResponse" message="tns:getVendorTypeByEmailResponse" />
</operation>
<operation name="getItemsByCategory">
<input wsam:Action="http://data/DataTier/getItemsByCategoryRequest" message="tns:getItemsByCategory" />
<output wsam:Action="http://data/DataTier/getItemsByCategoryResponse" message="tns:getItemsByCategoryResponse" />
</operation>
<operation name="checkCategoryExistByName">
<input wsam:Action="http://data/DataTier/checkCategoryExistByNameRequest" message="tns:checkCategoryExistByName" />
<output wsam:Action="http://data/DataTier/checkCategoryExistByNameResponse" message="tns:checkCategoryExistByNameResponse" />
</operation>
<operation name="getCurrentStockByItemId">
<input wsam:Action="http://data/DataTier/getCurrentStockByItemIdRequest" message="tns:getCurrentStockByItemId" />
<output wsam:Action="http://data/DataTier/getCurrentStockByItemIdResponse" message="tns:getCurrentStockByItemIdResponse" />
</operation>
<operation name="updateStockByItemId">
<input wsam:Action="http://data/DataTier/updateStockByItemIdRequest" message="tns:updateStockByItemId" />
<output wsam:Action="http://data/DataTier/updateStockByItemIdResponse" message="tns:updateStockByItemIdResponse" />
</operation>
<operation name="insertOrderItem">
<input wsam:Action="http://data/DataTier/insertOrderItemRequest" message="tns:insertOrderItem" />
<output wsam:Action="http://data/DataTier/insertOrderItemResponse" message="tns:insertOrderItemResponse" />
</operation>
<operation name="editItemById">
<input wsam:Action="http://data/DataTier/editItemByIdRequest" message="tns:editItemById" />
<output wsam:Action="http://data/DataTier/editItemByIdResponse" message="tns:editItemByIdResponse" />
</operation>
<operation name="getOrdersByInvoiceId">
<input wsam:Action="http://data/DataTier/getOrdersByInvoiceIdRequest" message="tns:getOrdersByInvoiceId" />
<output wsam:Action="http://data/DataTier/getOrdersByInvoiceIdResponse" message="tns:getOrdersByInvoiceIdResponse" />
</operation>
<operation name="updatePasswordByEmail">
<input wsam:Action="http://data/DataTier/updatePasswordByEmailRequest" message="tns:updatePasswordByEmail" />
<output wsam:Action="http://data/DataTier/updatePasswordByEmailResponse" message="tns:updatePasswordByEmailResponse" />
</operation>
<operation name="getUsers">
<input wsam:Action="http://data/DataTier/getUsersRequest" message="tns:getUsers" />
<output wsam:Action="http://data/DataTier/getUsersResponse" message="tns:getUsersResponse" />
</operation>
<operation name="getUserRole">
<input wsam:Action="http://data/DataTier/getUserRoleRequest" message="tns:getUserRole" />
<output wsam:Action="http://data/DataTier/getUserRoleResponse" message="tns:getUserRoleResponse" />
</operation>
</portType>
<binding name="DataTierPortBinding" type="tns:DataTier">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getCategoryById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getItemById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createItem">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertOrder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVendorById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getOrders">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchOrCheckStockCakeByItemNameOrCode">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVendors">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVendorTypeById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getOrderByVendorId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="userRegister">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="vendorLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="vendorRegister">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createCategory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCategories">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getItems">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkVendorExistByEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkUserExistByEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="editCategoryById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVendorTypeByEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getItemsByCategory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkCategoryExistByName">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCurrentStockByItemId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateStockByItemId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertOrderItem">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="editItemById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getOrdersByInvoiceId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updatePasswordByEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUserRole">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="DataTier">
<port name="DataTierPort" binding="tns:DataTierPortBinding">
<soap:address location="http://localhost:8082/BlackLotusDataTier/DataTier" />
</port>
</service>
</definitions>